
TELEGRAM_TOKEN=8294491572:AAGBlnZMDbAIgcJIXbPKS8y05E5_XLq5dZs

POSTGRES_PASSWORD=your_secure_password

TBANK_TERMINAL_KEY=your_terminal_key
TBANK_SECRET_KEY=your_secret_key

WEBHOOK_URL=""

SERVER_PORT=8081